
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 44% 91%; /* #F2EDE1 */
    --foreground: 24 6% 10%; /* #1c1917 */

    --card: 0 0% 100%;
    --card-foreground: 24 6% 10%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 24 6% 10%;
 
    --primary: 25 98% 64%; /* #FE9347 */
    --primary-foreground: 24 6% 10%;
 
    --secondary: 45 20% 95%; /* #F5F3EF */
    --secondary-foreground: 24 6% 10%;
 
    --muted: 45 20% 92%; /* #EDEBE6 */
    --muted-foreground: 24 6% 40%;
 
    --accent: 45 20% 88%; /* #EBE8E2 */
    --accent-foreground: 24 6% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 45 20% 80%; /* #DCDAD4 */
    --input: 45 20% 80%;
    --ring: 25 98% 64%;
    
    --primary-gradient-start: #FFC06F;
    --primary-gradient-mid: #FE631C;
    --primary-gradient-end: #FFC06F;
  }
 
  .dark {
    --background: 201 30% 14%; /* #19262D */
    --foreground: 45 44% 91%; /* #F2EDE1 */
 
    --card: 202 30% 17%; /* #1d2c34 */
    --card-foreground: 45 44% 91%;
    --popover: 202 30% 17%;
    --popover-foreground: 45 44% 91%;
 
    --primary: 25 98% 64%; /* #FE9347 */
    --primary-foreground: 24 6% 10%;

    --primary-gradient-start: #FFC06F;
    --primary-gradient-mid: #FE631C;
    --primary-gradient-end: #FFC06F;

    --secondary: 203 28% 35%;
    --secondary-foreground: 45 44% 91%;
 
    --muted: 201 30% 22%;
    --muted-foreground: 203 20% 65%;
 
    --accent: 203 28% 27%; /* #324957 */
    --accent-foreground: 45 44% 91%;
 
    --destructive: 0 72% 51%;
    --destructive-foreground: 45 44% 91%;
 
    --border: 201 30% 25%;
    --input: 201 30% 25%;
    --ring: 25 98% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@layer components {
    .section-wrapper {
        position: relative;
    }
    .section-wrapper > .section-container, 
    .section-wrapper > .columns-container,
    .columns-container > .column {
        position: relative;
        z-index: 1;
    }
    .hero-section {
        color: white; /* Default text color for heroes */
    }
    .hero-section h1, .hero-section h2, .hero-section p {
        color: inherit; /* Inherit color from the hero-section */
    }
}
